* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  background-color: rgb(255, 255, 255);
}

.nav-container {
  height: 80px;
  background-color: #2f0549;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.nav-main {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-link {
  color: #fff;
  cursor: pointer;
}

.form-container {
  width: 100%;
  padding: 40px 20px;
}

.card-form {
  background-color: #4c0677;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 20px;
}

.form-control {
  margin-bottom: 20px;
}

.form-control label {
  display: none;
}

.error-message {
  margin-top: 5px;
  color: #f3575a;
}

.form-input {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  padding: 0 20px;
  font-size: 14px;
  border: 0;
}

.form-input::placeholder {
  color: #373941;
}

.form-input:disabled {
  background-color: rgba(255, 255, 255, 0.7);
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 250px;
  height: 50px;
  background-color: #ff6200;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  border: none;
}

.btn-left {
  margin-right: 10px;
}

.btn-right {
  margin-left: 10px;
}

.list-container {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-list-item {
  background-color: #4c0677;
  color: #fff;
  margin-bottom: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 8px;
  padding: 20px;
}

.card-list-item h3 {
  color: #ff6200;
  font-size: 18px;
}

.address-line {
  color: #fff;
  font-size: 14px;
}

.address-cep {
  color: #8f8f8f;
  font-size: 12px;
}
